*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  max-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 60px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: gray;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.orange {
  background-color: orange;
  color: black;
}

.calculator-grid > button:hover {
  background-color: white;
}

.title {
  text-align: center;
  color: white;
  font-size: 2rem;
  padding: 2%;
  font-weight: 700;
}

.quote {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  padding: 2%;
  font-weight: 700;
}

.loading {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  padding: 2%;
  font-weight: 700;
}
